ul {
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    text-align: center;
    border: 2px solid;
    border-radius: 0.5em;
    margin: 1rem;
    padding-top: 10px;
    font-size: 2rem;
    list-style: none;
    font-weight: bold;
    }

.icon {
    display: inline-block;
    background-image: url(./0-sprite.png);
    background-repeat: no-repeat;
    height: 400px;
    width: 300px;
}
li span.i-html {
    background-position: left center;
  }

  li span.i-css {
    background-position: center;
  }
  
  li span.i-js {
    background-position: right center;
  }