h2 {
    font-weight: bold;
}

h2 a{
    text-decoration: none;
    position: relative;
    color: hsl(0, 66%, 45%)
}

h2 a::before {
    content: "";
    bottom: 0;
    width: 0;
    height: 0.1rem;
    position: absolute;
    transition: 0.9s cubic-bezier(0.17, 0.67, 0, 1.01);
}

h2 a:hover::before {
    left: 0;
    background-color: hsl(0, 66%, 45%);
    width: 100%;
}